.button-group{
   display:flex;
   justify-content: center;
   gap: 50px;

}
.button-group button {
  border-radius: 20px;
  background-color: #5a31ec;
  font-weight: 400;
  font-size: large;
  box-sizing: content-box;
  color: aliceblue;
  padding: 20px 30px;
  border-style:groove;
  
  
  
  
}
